html{
    font-family: 'Zen Kurenaido', sans-serif;
    color: #1c3bc5f1;
}

body{
    background-image: url("fondo_registro.jpg");
    background-size: cover;
    background-position: center;
    margin: 0px;
    transition: all 0.3s;
}

button#interrogante {
    float: right;
    margin: 25px;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    background-color: blue;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 98px;
}

label{
    height: 26px; 
    cursor:pointer;
   
}

input {
    height: 20px;
}

html, body, .imagen, #container{
    height: 100%;
}
.label{
    display: flex;
    flex-direction: column;
    float: left;    
    width: 40%;

}
.input{
    display: flex;
    flex-direction: column;
    float: right;
    width: 60%;
}

.form {
    width: 100%;
    border: 2px solid blue;
    border-radius: 5px;
    max-width: 600px;
    margin: auto auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 162, 73);
  }

.boton {
    background-color:rgb(255, 255, 255);
    padding: 0.25em 0.5em;
    border: 1px;
    border-radius: 3px;
    cursor:pointer;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}


.cansado{
    margin: 20px auto;
}
.muyCansado{
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.muyCansado input{
    margin-bottom: -1px;
    margin-right: 10px;
}
label {
    margin: 4px 0px;
}
.caja{
    border-radius: 1em;
    border-style: double;
    font-family: 'Rubik', sans-serif;
    margin: 4px 0px;
}

#fondo{
    width: auto;
}

#error{
    color: red;
    display: none;
    font-weight: bold;
    text-align: center;
}

footer {
    text-align: center;
    background-color: yellow;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

#enlace {
    text-decoration: none;
}